/* styleLogin.css */


.login-box{
    position: relative;
}



.login-box button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: aqua;
  cursor: pointer;
}



